.box{
  margin-top: 10px;
  color: white;

}
.basket-content{
  width: 350px;
  box-shadow:0px  4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  background-color: #9F3780;
  border-radius: 25px;
}
.basket-content> .show-grid{
  padding-bottom: 10px;
}
.item-details-button:focus{
  outline: none;
}
.price-strike{
  text-decoration: line-through;
  color: grey;
}
.promo-code-button:before{
outline: none;
shadow:none;}
.line{
border: 2px solid grey;
}
